.pos_k {
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 15px;
}
.pos {
  width: 100%;
}
.pos_c {
  width: 60%;
}
.pos1 {
  padding-top: 100px;
}
.pos1 {
  flex-direction: column;
}
.pep {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.pep p {
  color: #03669a;
  font-size: 22px;
  font-weight: 800;
}
@media (max-width: 700px) {
  .pos_k {
    width: 100%;
  }
  .pos {
    width: 100%;
  }
  .pos1 {
    margin: 0 20px;
  }

  .pos_c a {
    font-size: 25px;
    justify-content: center;
  }
  .pos_c {
    justify-content: space-between;
    width: 100%;
  }

}
